.dropDownContainer {
    font-size: 1.2rem;
    width: 100%;
    margin: .5rem 0 0 0;
    position: absolute;
    z-index: 100;
    max-height: 5rem;
    overflow-y: auto;
    font-family: "Cremona", "Montserrat", sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #37745B;
    border-left: 1px solid #37745B;
    border-right: 1px solid #37745B;
    background-color: white;
}

.dropDownContainer::-webkit-scrollbar {
    width: 7px;

}

.dropDownContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.dropDownContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(rgba(33, 112, 116, 1), rgba(55, 116, 91, 1))
}